@media screen and (min-width: 1100px){
  main{
    width: 1100px;
  }
  .all-quizzes {
    width: 1070px;
  }
  .creation-box{
    width: 1100px;
  }
  .quizz-display{
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .quizz-box{
    margin-right: 15px;
  }
  .selected-quizz-page img{
    height: 227px;
  }
  .question-box{
    width: 690px;
  }
  .question-box-header{
    width: 690px;
  }
  .answer {
    width: 330px;
  }
  .answer-box{
    margin: 0px;
  }
  .answer img{
    width: 330px;
    height: 175px;
  }
  .result-header{
    width: 727px;
  }
  .result-box img{
    width: 364px;
    height: 273px;
  }
  .result-body{
    display: flex;
  }
  .result-body h3{
    margin-left: 21px;
  }
  .new-quizz {
    height: 266px;
  }
  .new-quizz {
    bottom: 20px;
    font-size: 23px;
  }
}