* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
    width: 1px;
    height: 1px;
}

header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 4;
}

header h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 37px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
}
.loader{
    margin-top: 50%;
    width: 100px;
    height: 100px;
    border: 7px solid lightcoral;
    border-left-color: #EC362D;
    border-radius: 100%;
    animation: loader 1s linear infinite;
}
@keyframes loader{
    to{
        transform: rotate(360deg);
    }
}
.loading{
    margin-top: 14px;
    color: #EC362D;
    font-size: 25px;
}
.all-quizzes {
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    margin-top: 35px;
    width: 340px;
}

.creation-box {
    border: 1px dashed #D5D5D5;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
}

.creation-box h2 {
    font-size: 20px;
    color: #B9B9B9;
    padding: 0px 45px 0px 45px;
}

.creation-box button {
    font-size: 21px;
    background-color: #FAFAFA;
    color: #EC362D;
    border: 1px dashed #ec362d;
    background-color: #E5E5E5;
    border-radius: 50px;
    height: 40px;
    width: 151px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

.creation-box button:hover {}

.quizz-box {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
    margin-top: 14px;
    z-index: 0;
}
.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}

.quizz-box img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    }

.quizz-box h5 {
    position: absolute;
    z-index: 3;
    color: #ffffff;
    font-size: 19px;
    bottom: 7px;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.selected-quizz-header{
    background-color:black;
    z-index: 1;
    margin-top: 69px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 142px;
}
.selected-quizz-header h5{
    position: absolute;
    text-align: center;
    font-size: 19px;
    color: #ffffff;
    z-index: 2;
}
.selected-quizz-img{
    opacity: 40%;
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 142px;
}
.question-box {
    width: 340px;
    margin-top: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    
}
.question-box-header{
    width: 340px;
    height: 89px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-box h2{
    font-weight: 700;
    text-align: center;
    font-size: 19px;
    color: #ffffff;
}
.answer-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.answer{
    margin: 12px 0px 0px 0px;
    width: 163px;
    height: auto;
}
.answer img{
    width: 163px;
    height: 113px;
}
.answer h3{
    font-weight: 700;
    font-size: 13px;
}
.opacity{
    opacity: 0.3;
}
.selected{
    opacity: 1;
}
.correct-style{
    color: green;
}
.incorrect-style{
    color: red;
}
.disabled{
    pointer-events: none;
}
.result{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result-header{
    width: 340px;
    height: 99px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-header h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 19px;
    text-align: center;
}
.result img{
    margin-top: 9px;
    width: 340px;
}
.result h3{
    font-size: 17px;
    font-weight: 700;
    max-width: 340px;
    margin-top: 9px;
}
.result button{
    margin-top: 34px;
    color: #FFF5F4;
    font-size: 18px;
    font-weight: 400;
    background-color: #EC362D;
    width: 220px;
    height: 44px;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
}
.result h5{
    font-weight: 400;
    color: #818181;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 66px;
}