* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
    width: 1px;
    height: 1px;
}

header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 4;
}

header h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 37px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 69px;
}

.allQuizzes {
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    margin-top: 35px;
    width: 98%;
}

.creation-box {
    border: 1px dashed #D5D5D5;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
}

.creation-box h2 {
    font-size: 20px;
    color: #B9B9B9;
    padding: 0px 45px 0px 45px;
}

.creation-box button {
    font-size: 21px;
    background-color: #FAFAFA;
    color: #EC362D;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    height: 40px;
    width: 151px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

.creation-box button:hover {}

.quizz-box {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
    margin-top: 14px;
    z-index: 2;
}

.quizz-box img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.quizz-box h5 {
    position: absolute;
    z-index: 3;
    color: #ffffff;
    font-size: 19px;
    bottom: 7px;
    width: 100%;
    text-align: center;
}


/*=========== estilos do criar quiz============*/

.conteiner-quiz {
    display: flex;
    flex-direction: column;
    position: relative;
}

.create-quiz-start {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-quiz-head {
    display: flex;
    width: 100%;
    height: 89px;
    left: 0;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.create-quiz-head span {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
}

.create-quiz-form1 {
    width: 100%;
    height: 256px;
    left: 0;
    background-color: chocolate;
}

.create-quiz-form1 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-quiz-form1 input {
    height: 46px;
    width: 95%;
    margin-bottom: 9px;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
    background-color: #ffffff;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px
}

.create-quiz-form1 input:last-child {
    margin-bottom: 21px;
}

.create-quiz-form1 input:first-child {
    margin-top: 21px;
}

.next-form-button {
    width: 80%;
    height: 54px;
    border-radius: 15px;
    background-color: #EC362D;
    margin-top: 29px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #ffffff;
}

.next-form-button span {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #ffffff;
}